@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    A website dedicated to selling vape products. Soon to have a physical store located in Cardiff. <br>
    Feel free to come visit us there
</p>


