@{
    ViewData["Title"] = "Home";
}

<center>
    <h1>@ViewData["Title"]</h1>


    <br />


    <img src="~/images/Logo.jpg" alt="Logo" />
    <h4>@ViewData["Message"]</h4>


</center>

